<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <style>
      body {
        background-color: #f1f1f1;
        font-family: Arial, sans-serif;
        text-align: center;
      }
      h1 {
        font-size: 36px;
        color: #444;
        margin-top: 50px;
      }
      p {
        font-size: 18px;
        color: #777;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    {% block content %}
        <h1>Error:</h1>
        <p>{{ error }}</p>
    {% endblock %}
  </body>
</html>
